<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/img/favicon.png"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body>
    <div>
      <a href="home.html">Home</a>
      |
      <a href="login.html">Login</a>
    </div>
    <div>
        <h1>Homepages</h1>
    </div>
    <div>
        <img src="/public/img/flower.png" alt="flower" height="64" width="64">
    </div>
  </body>
</html>
