<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/img/favicon.png"
      type="image/x-icon"
    />
    <title>Register</title>
  </head>
  <body>
    <div>
      <a href="home.html">Home</a>
      |
      <a href="login.html">Login</a>
    </div>
    <div>
      <h1>Register</h1>
    </div>
    Username
    <div>
      <input type="text" />
    </div>
    Password
    <div>
      <input type="password" />
    </div>
    Password again
    <div>
      <input type="password" />
    </div>
    age
    <div>
      <input type="radio" name="age" id="" />20-25
      <input type="radio" name="age" id="" />26-30
      <input type="radio" name="age" id="" />31-35
    </div>
    <div>
      <button type="button">Register</button>
    </div>
  </body>
</html>
