<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/public/css/register.css">
</head>
<body>
    <div id="register">
        <!-- ! nav -->
        <div class="nav">
            <h4>
                Registration

            </h4>
            
            <p>
                User type
            </p>
            <div class="buttonradio">
                <input type="radio" name="usertype"> Admin
            </div>
            <div>
                <input type="radio" name="usertype"> User
            </div>
        </div>
        <!-- ! form -->
        <form action="">
            <label for="Uname">
                Username<input type="text">
            </label>
            <label for="Password">
                Password<input type="password">
            </label>
            <label for="Uname">
                Re-enter Password<input type="password">
            </label>
            <button type="submit" >Register</button>
        </form>
    </div>
</body>
</html>